{
	"Version" : "2.0.0.1",
	"Scheduler" : 0,
	"TestStage": 0,
	"TestSleep": 0,
	"DedicatedPerfThread": 0,
	"PrintStatsOnConsole": 1,
	"SessionCount" : 300000,
	"Supported_IPV" : 1,
	"Supported_IPV_Info" : "1-IPv4|2-IPv6|3-IPv4v6",
	"FlowTableCount" : 3,
	"FlowsPerFlowTable" : 1000000,
	"TotalFlows" : 1000000,
	"EnablePacketInspection" : 0,
	"Rings" : {
		"Access" : 
		{
			"WxRingSize" : 8192,
			"ShRingSize" : 8192
		},
		"Core" : 
		{
			"WxRingSize" : 8192,
			"ShRingSize" : 8192
		}
	},
	"Workers" :
	{
		"Access" : 1,
		"Core" : 1,
		"BurstSize" : 512
	},
	"Interfaces" : 
	[
		{
			"Type" : 0,
			"Name" : "A",
			"ID" : 1,
			"BusID" : "0000:13:00.0",
			"Queues" : [0],
			"TQueues" : [0],
			"DedicatedCoreForRxQ" : 0,
			"DedicatedCoreForTxQ" : 0,
			"MemPoolSize" : 16384,
			"CacheSize" : 512,
			"RxRingSize" : 8192,
			"TxRingSize" : 8192,
			"RxBurstSize" : 256,
			"TxBurstSize" : 256,
			"TestMode" : 0,
			"SrcMAC" : "00:0C:29:1D:55:2F",
			"DstMAC" : "00:0C:29:30:47:BF",
			"IPv4" : "192.168.149.52",
			"IPv6" : "::1",
			"ValidateSrcMAC" : 0,
			"GTPE" : 1,
			"TxCore" : 1,
			"WTC" : 1,
			"LogIPHeader" : 1,
			"LogSession" : 1,
			"LogFlow" : 1,
			"LogPPResult": 1
		},
		{
			"Type" : 1,
			"Name" : "C",
			"ID" : 2,
			"BusID" : "0000:1b:00.0",
			"Queues" : [0],
			"TQueues" : [0],
			"DedicatedCoreForRxQ" : 0,
			"DedicatedCoreForTxQ" : 0,			
			"MemPoolSize" : 16384,
			"CacheSize" : 512,
			"RxRingSize" : 8192,
			"TxRingSize" : 8192,
			"RxBurstSize" : 256,
			"TxBurstSize" : 256,
			"TestMode" : 0,
			"SrcMAC" : "00:0C:29:1D:55:39",
			"DstMAC" : "00:0C:29:F5:F3:6C",
			"IPv4" : "192.168.149.53",
			"IPv6" : "::2",			
			"ValidateSrcMAC" : 0,
			"TxCore" : 1,
			"WTC" : 1,
			"OHT" : 1,
			"LogIPHeader" : 1,
			"LogSession" : 1,
			"LogFlow" : 1,
			"LogPPResult": 1
		}
	],
	"PacketTest_Enable" : 0,
	"DPI_MAP" : [
		{
			"DPI" : 268, "RG" : 3, "Info" : "FACEBOOK"
		},
		{
			"DPI" : 242, "RG" : 2, "Info" : "WHATSAPP"
		}
	]

}


