[Unit]
Description=upf.service
#Wants=network.target 
#After==syslog.target network-online.target
After=networking.service

[Service]
Type=simple

User=root
Group=root


StandardOutput=syslog
StandardError=syslog
Restart=always 
WorkingDirectory=/home/dpdk/xiusupf/dplane/
ExecStart=/home/dpdk/xiusupf/dplane/run.sh
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
